[build]
  command = "npm run build"
  publish = "dist"

# Config for the Netlify Build Plugin: netlify-plugin-fetch-feeds
[[plugins]]
  package = "netlify-plugin-fetch-feeds"

  [plugins.inputs]
    # Where should data files reside
    dataDir = "src/_data"

    # All the feeds we wish to gather for use in the build
    [[plugins.inputs.feeds]]
      name = "hawksworx"
      url = "https://hawksworx.com/feed.json"
      ttl = 120   # Cache for 2 minutes
    [[plugins.inputs.feeds]]
      name = "netlify"
      url = "https://www.netlify.com/blog/index.xml"
      ttl = 86400   # Cache for 24 hours
    [[plugins.inputs.feeds]]
      name = "nwstbus"
      url = "https://script.google.com/macros/s/AKfycbyvgYvVnQW1rZ501zzBhVf0Vkub1mtZ0LEbz-2K8G5qu2iH2w0s/exec?data=get_routes&_=1593443851260"
      ttl = 86400   # Cache for 2 minutes
